* {
  font-family: "Press Start 2P", monospace;
}
body {
  background-color: black;
}

h1 {
  margin: 0;
  font-size: 16px;
}

button {
  border: 0;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #ddd;
}

#playerHealthBar,
#enemyHealthBar {
  height: 20px;
  background-color: green;
  transition: width 0.3s ease-in-out;
}
